@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}


header {
    background-color: #82ccdd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section{
    margin-top: 60px;
}

.container {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

}

.my_logo {
    display: block;
    font-weight: bold;
    font-style: italic;
    transition: 0.4s;
    /* background-image: linear-gradient(to left right, red, white); */
}

#bag-icon {
    cursor: pointer;
    transition: 0.25s;
}

#buy-icon{
    cursor: pointer;
}

#bag-icon:hover {
    color: gray;
    font-size: 1.2rem;
}


.shop_title{
    margin-bottom: 30px;
    text-align: center;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, auto)) ;
    grid-gap: 20px 10px;
}


.box-products{
    transition: all 0.5s;
}

.box-products:hover{
    border-right: 1px solid gray;
    box-shadow: 1px 1px 0.5px 0 gray;
    padding: 5px;
}


.name_products{
    color: black;
    font-size: 20px;
    transition: color 0.25s;
}

.name_products:hover{
    color: #48dbfb;
}

.item_products img{
    width: 100%;
    height: auto;
}

.buy-now{
    display: flex;
    justify-content: space-between;
}

#buy-icon{
    padding: 0 10px;
}



